# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
bower-components
app/tests/coverage/
.bower-*/
bower_components/

# MEAN.js app and assets
# ======================
config/sslcerts/*.pem

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
.idea/
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Security
# ========
src/config/keys.js

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
.tmp/
dist/
